<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Money Tracker App</title>
  </head>
  <body>
    <header>
      <nav-app brandname="<%= brandName %>"></nav-app>
    </header>

    <main>
      <div class="main-content">
        <div class="container py-5">
          <h1 class="mb-3">Tambah Story</h1>
          <form class="row g-3" id="addRecordForm" novalidate>
            <div class="col-12">
              <label for="validationCustomDescription" class="form-label"
                >Description</label
              >
              <textarea
                class="form-control"
                id="validationCustomDescription"
                rows="3"
                required
              ></textarea>
              <div class="invalid-feedback">Wajib diisi</div>
            </div>
            <div class="col-12">
              <label for="validationCustomPhoto" class="form-label"
                >Photo</label
              >
              <div class="mb-3">
                <img
                  class="img-fluid h-100"
                  src=""
                  alt="Photo of records"
                  id="validationCustomPhotoImg"
                />
              </div>
              <input
                type="file"
                class="form-control"
                id="validationCustomPhoto"
                accept="image/*"
                required
              />
              <div class="invalid-feedback">Wajib diisi</div>
            </div>
            <div class="col-12 text-end">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer-app></footer-app>
  </body>
</html>
