<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main>
      <jumbotron-component></jumbotron-component>
      <div class="main-content">
        <div class="container py-5">
          <card-list></card-list>
        </div>
      </div>
    </main>
    <footer>
      <footer-app></footer-app>
    </footer>
    <spinner-component></spinner-component>
  </body>
</html>
